<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" xmlns:th="http://www.thymeleaf.org">
    <title>Title</title>
</head>
<body>

<form th:action="@{/create}" th:method="post" th:object="${post}">
  <div class="imgcontainer">
    <img src="img_avatar2.png" alt="Avatar" class="avatar">
  </div>

  <div class="container">
<!--      <input type="hidden" th:field="*{id}">-->
      <input type="text" placeholder="Enter Title" th:field="*{title}">
    <input type="text" placeholder="Enter Description"  th:field="*{description}">

    <button type="submit">Submit</button>
  </div>

</form>

</body>
</html>