<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Edit</title>
</head>
<body>
<nav th:replace="/navbar:: navbar">
</nav>
<form th:action="@{|/post/edit/${postToEdit.getId()}|}" th:method="post" th:object="${postToEdit}">
  <div class="container">
<!--    Exposes id in the form and user can change id">-->
<!--    <input type="hidden" th:field="*{id}">-->
    <input type="text" placeholder="Enter Title" th:field="*{title}">
    <input type="text" placeholder="Enter Description"  th:field="*{description}">

    <button type="submit">Submit</button>
  </div>

</form>

</body>
</html>